<template name="userAddEditModal">
  <div class="modal fade slide-right action-modal" id="userAddEditModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content-wrapper">
        <div class="modal-content">
          <div class="modal-body">
            <form role="form" id="userForm">
              {{#with item}}
                <div class="form-group">
                  <label>الاسم</label>
                  <span class="help"></span>
                  <input type="text" name="name" class="form-control" placeholder="الاسم" value="{{profile.name}}" required>
                </div>
                <div class="form-group">
                  <label>الايميل</label>
                  <input type="email" name="email" class="form-control" placeholder="الايميل" value="{{getEmail emails}}" required>
                </div>
                <div class="form-group">
                  <label>رقم الهاتف</label>
                  <input type="Number" name="mobile" class="form-control" placeholder="رقم الهاتف" value="{{profile.mobile}}" required>
                </div>
                {{#unless _id}}
                  <div class="form-group">
                    <label>نوع المستخدم</label>
                    <div class="select-wrapper position-relative">
                      <select name="role" class="form-control text-capitalize" id="userRole" required>
                        <option value="">اختر نوع المستخدم</option>
                        {{#each roleOptions}}
                          {{#if isUserRole _id}}
                            <option value="{{_id}}" selected>{{_id}}</option>
                          {{else}}
                            <option value="{{_id}}">{{_id}}</option>
                          {{/if}}
                        {{/each}}
                      </select>
                    </div>
                  </div>
                {{/unless}}
                <div class="form-group p-t-10 d-flex justify-content-end">
                  <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">اغلاق</button>
                  <button type="submit" class="btn btn-primary btn-action" id="btnSaveUser">حفظ</button>
                </div>
              {{/with}}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
